<template>
   <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-alert type="error" v-if="errors.length > 0" transition="scale-transition" dismissible>
              <p class="mb-0" v-for="(error, index) in errors" :key="index"> {{error}} </p>
            </v-alert>
            <v-card class="elevation-12">
              <v-toolbar color="warning" dark flat>
                <v-toolbar-title>Login</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field v-model="user" color="warning" label="Email" name="email" prepend-icon="mdi-account" type="email" @keyup.enter="login"/>
                  <v-text-field v-model="pass" color="warning" label="Password" name="password" prepend-icon="mdi-lock" type="password" @keyup.enter="login"/>
                </v-form>
              </v-card-text>
              <v-card-actions>
               <a :href="'/signup'" class="amber--text"> ¡Quiero registrarme! </a>
                <v-spacer></v-spacer>
                <v-btn color="warning" @click="login" v-if="!loading"> Ingresar</v-btn>
                <v-progress-circular indeterminate color="amber" v-if="loading"/>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
</template>

<script>
// @ is an alias to /src
import axios from 'axios';
import { mapState } from 'vuex';

export default {
  name: 'Home',
  data () {
    return { 
      user:'',
      pass: '',
      errors: [],
      loading: false
    }
  },
  methods: {
    async login() {
      this.loading = true
      //verificamos si el formulario es valido
      if (this.chechkForm()){
        this.clearError()
        const send = this.getDataToSend() 
        await axios.post(`${process.env.VUE_APP_API_URL}/api/user/login`, send, { headers: this.headersLogin }).then( res => {
          //guardamos en el localstorage
          localStorage.setItem('token', res.data.data.token)
          localStorage.setItem('username', res.data.data.nombre)
          //redirigimos a panel
          this.$router.push('/panel')
        }).catch( error => {
          let msg = error.response.status == 400 ? error.response.data.message : 'Ocurrió un error al iniciar sesión'
          this.loading = false
          this.errors.push(msg)
        })
      }
      else{
        this.loading = false
      }
    },
    
    chechkForm(){
      this.clearError()
      if (!this.user){
        this.errors.push('Ingrese correo electrónico')
      }
      else if (!this.pass){
        this.errors.push('Ingrese contraseña')
      }
      return this.user && this.pass
    },
    
    clearError(){
      this.errors = []
    },
    
    getDataToSend(){
      return { email: this.user, password: this.pass  }
    },
  },
  computed: {
    ...mapState(['headersLogin'])
  },
  beforeCreate(){
    const token  = localStorage.getItem('token')
    console.log(token)
    if (token != null && token != undefined){
      this.$router.push('/panel')
    }
  },
}
</script>


<style scoped>
  .mb-0{
    margin-bottom: 0px !important;
  }
  
</style>