<template>
  <v-container class="fill-height" fluid>
      <v-app-bar app color="warning" dark>
      <div class="d-flex align-center">
      </div>
      <v-app-bar-nav-icon @click="getList"></v-app-bar-nav-icon>
      <v-toolbar-title>GTaskSMK</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn outlined @click="closeSession" >
        <span class="mr-2">{{username}}</span>
        <v-icon>mdi-account</v-icon>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" absolute temporary>
     <v-layout justify-center class="mt-3 mb-3">
        <v-btn outlined color="warning" @click="dialog = true">
          Nueva Lista
        </v-btn>
      </v-layout>
      <v-list two-line subheader>
        <v-list-item v-for="(item, index) in listas" :key="index" @click="getTasks(item.id)">
        <v-list-item-avatar >
          <v-icon>mdi-format-list-checks</v-icon>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title v-text="item.nombre"></v-list-item-title>
        </v-list-item-content>

        <v-list-item-action>
          <v-btn icon>
            <v-icon color="red lighten-1" @click="confirmDeleteList(item.id)">mdi-delete</v-icon>
          </v-btn>
        </v-list-item-action>
      </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <!-- cuando no exista listas -->
    <v-container v-if="cantidadList == 0" class="fill-height" fluid>
      <v-row align="center" justify="center" no-gutters>
        <v-col cols="12">
          <p class="text-center">Usted no tiene listas creadas actualmente, para crear tareas debe crear una lista previamente.</p>
        </v-col>
        <v-col cols="12">
         <v-layout justify-center>
          <v-btn outlined color="warning" @click="dialog = true">
            Crear Lista
          </v-btn>
        </v-layout>
        </v-col>
      </v-row>
    </v-container>

    <v-container v-if="cantidadList > 0 && listselected != 0">
      <v-row>
        <v-col cols="8">
          Tareas
        </v-col>
        <v-col cols="4">
         <v-layout justify-end>
          <v-btn outlined color="warning" @click="dialogtask = true">
            Crear Tarea
          </v-btn>
        </v-layout>
        </v-col>
        <v-col cols="12">
          <v-divider></v-divider>
          <p class="mt-2" v-if="tareas.length == 0"> Aún no tienes tareas creadas en esta lista</p>
          <v-list>
            <v-list-item v-for="(item, index) in tareas" :key="index">
              <v-list-item-icon class="ma-0">
               <v-checkbox color="warning" :input-value="item.completa == 1" @click="updateTask(item.id, item.completa)"></v-checkbox>
              </v-list-item-icon>
              <v-list-item-content>
                <v-row>
                  <v-col cols="8">
                    <v-list-item-title :class="[ item.completa == 1 ? 'text-decoration-line-through' : 'other' ]"> {{item.nombre}}</v-list-item-title>
                  </v-col>
                  <v-col cols="4">
                    <v-layout justify-end>
                      <v-btn outlined color="warning" @click="confirmDeleteTask(item.id)">
                        <v-icon>mdi-delete</v-icon>
                      </v-btn>
                    </v-layout>
                  </v-col>
                  <v-col cols="12">
                    <v-divider></v-divider>
                  </v-col>
                </v-row>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-col>
      </v-row>
    </v-container>
  
    <!-- dialogs -->
    <v-row justify="center">
      <v-dialog v-model="dialog" persistent max-width="600px">
        <v-card>
          <v-card-title>
            <span class="headline">Nueva lista</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-text-field label="Nombre*" required type="text" v-model="namelist"></v-text-field>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialog = false">Cerrar</v-btn>
            <v-btn color="blue darken-1" text @click="newList">Guardar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog v-model="dialogtask" persistent max-width="600px">
        <v-card>
          <v-card-title>
            <span class="headline">Nueva Tarea</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-text-field label="Nombre*" required type="text" v-model="nametask"></v-text-field>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialogtask = false">Cerrar</v-btn>
            <v-btn color="blue darken-1" text @click="newTask">Guardar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src
import axios from 'axios';

export default {
  name: 'Panel',
  data () {
    return { 
      headersAuthenticated : { 'Content-type': 'application/json', 'Authorization': localStorage.getItem('token') },
      listselected: 0,
      //nombre de lista 
      namelist: '',
      //nombre de tarea
      nametask: '',
      //navbar
      drawer: false,
      username:'',
      //array de data
      listas:[],
      tareas: [],
      loading:false,
      //dialog
      dialog:false,
      dialogtask:false,
      //cantidad
      cantidadList: 0,
    }
  },
  methods: {
    /** =============================== LIST ========================== */
    async getListCount(){
      await axios.get(`${process.env.VUE_APP_API_URL}/api/list/count`, { headers: this.headersAuthenticated }).then( res => {
        //guardamos la data
        this.cantidadList = res.data.data
      }).catch( error => {
        let msg = error.response.status == 400 ? error.response.data.message : 'Ocurrió un error al obtener cantidad de listas'
        this.alert('error', msg)
      })
    },
    async getList(){
      this.drawer = !this.drawer
      if (this.drawer){
        await axios.get(`${process.env.VUE_APP_API_URL}/api/list`, { headers: this.headersAuthenticated }).then( res => {
          //guardamos la data
          this.listas = res.data.data
        }).catch( error => {
          let msg = error.response.status == 400 ? error.response.data.message : 'Ocurrió un error al obtener listas'
          this.alert('error', msg)
        })
      }
    },
    async newList(){
      if (this.checkFormList()){
        this.$swal({ onBeforeOpen: () => { this.$swal.showLoading() }, text:'Creando lista...',  allowOutsideClick:false, allowEscapeKey:false })
        const send = { actionId:1, nombre: this.namelist }
        await axios.post(`${process.env.VUE_APP_API_URL}/api/list/createOrUpdate`, send ,{ headers: this.headersAuthenticated }).then( res => {
          this.getListCount()
          this.getList()
          this.dialog = false
          this.namelist = ''
          this.alert('success', 'Exito')
        }).catch( error => {
          let msg = error.response.status == 400 ? error.response.data.message : 'Ocurrió un error al crear lista'
          this.alert('error', msg)
        })
      }
    },
    async deleteList(listId){
      this.$swal({ onBeforeOpen: () => { this.$swal.showLoading() }, text:'elimnando lista...',  allowOutsideClick:false, allowEscapeKey:false })
      await axios.delete(`${process.env.VUE_APP_API_URL}/api/list/delete/${listId}`, { headers: this.headersAuthenticated }).then( res => {
        this.getListCount()
        this.getList()
        this.alert('success', 'Exito')
      }).catch( error => {
        let msg = error.response.status == 400 ? error.response.data.message : 'Ocurrió un error al eliminar lista'
        this.alert('error', msg)
      })
    },
    confirmDeleteList(listId){
      this.$swal({ 
        text: "¿Estas seguro que deseas eliminar esta lista, también se eliminarán todas las taeras?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí',
        cancelButtonText: 'No',
        allowOutsideClick:false, 
        allowEscapeKey:false
      }).then( r => {
        if(r.value){
          this.deleteList(listId)
        }
      }) 
    },
    checkFormList(){
      if(!this.namelist){
        this.alert('error', 'Ingrese un nombre para la lista')
      }
      return this.namelist
    },
    /* ======================================= TASK ================================= */
    async getTasks(listId){
      this.listselected = listId
      this.drawer = false
      await axios.get(`${process.env.VUE_APP_API_URL}/api/task/${listId}`, { headers: this.headersAuthenticated }).then( res => {
        //guardamos la data
        this.tareas = res.data.data
      }).catch( error => {
        let msg = error.response.status == 400 ? error.response.data.message : 'Ocurrió un error al obtener tareas'
        this.alert('error', msg)
      })
    },
    async newTask(){
      if (this.checkFormTask()){
        this.$swal({ onBeforeOpen: () => { this.$swal.showLoading() }, text:'Creando tarea...',  allowOutsideClick:false, allowEscapeKey:false })
        const send = { actionId:1, nombre: this.nametask, listId:this.listselected }
        await axios.post(`${process.env.VUE_APP_API_URL}/api/task/createOrUpdate`, send ,{ headers: this.headersAuthenticated }).then( res => {
          this.getTasks(this.listselected)
          this.dialogtask = false
          this.nametask = ''
          this.alert('success', 'Exito')
        }).catch( error => {
          let msg = error.response.status == 400 ? error.response.data.message : 'Ocurrió un error al crear Tarea'
          this.alert('error', msg)
        })
      }
    },
    async updateTask(taskId, completa){
      console.log(completa)
      this.$swal({ onBeforeOpen: () => { this.$swal.showLoading() }, text:'Actualizando tarea...',  allowOutsideClick:false, allowEscapeKey:false })
      const send = { actionId:2, completa: completa == 1 ? 0 : 1, listId:this.listselected, id: taskId }
      await axios.post(`${process.env.VUE_APP_API_URL}/api/task/createOrUpdate`, send ,{ headers: this.headersAuthenticated }).then( res => {
        this.getTasks(this.listselected)
        this.dialogtask = false
        this.nametask = ''
        this.alert('success', 'Exito')
      }).catch( error => {
        let msg = error.response.status == 400 ? error.response.data.message : 'Ocurrió un error al actualizar Tarea'
        this.alert('error', msg)
      })
    },
    checkFormTask(){
      if(!this.nametask){
        this.alert('error', 'Ingrese un nombre para la tarea')
      }
      return this.nametask
    },
    async deleteTask(taskId){
      this.$swal({ onBeforeOpen: () => { this.$swal.showLoading() }, text:'elimnando lista...',  allowOutsideClick:false, allowEscapeKey:false })
      await axios.delete(`${process.env.VUE_APP_API_URL}/api/task/delete/${this.listselected}/${taskId}`, { headers: this.headersAuthenticated }).then( res => {
        this.getTasks(this.listselected)
        this.alert('success', 'Exito')
      }).catch( error => {
        let msg = error.response.status == 400 ? error.response.data.message : 'Ocurrió un error al eliminar tarea'
        this.alert('error', msg)
      })
    },
    confirmDeleteTask(taskId){
      this.$swal({ 
        text: "¿Estas seguro que deseas eliminar esta tarea?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí',
        cancelButtonText: 'No',
        allowOutsideClick:false, 
        allowEscapeKey:false
      }).then( r => {
        if(r.value){
          this.deleteTask(taskId)
        }
      }) 
    },
    //general
    alert(type, msg){
      this.$swal({icon:type, text:msg, allowOutsideClick:false, allowEscapeKey:false });
    },
    closeSession(){
      this.$swal({ 
        text: "¿Seguro que deseas cerrar sesión?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí',
        cancelButtonText: 'No',
        allowOutsideClick:false, 
        allowEscapeKey:false
      }).then( r => {
        if(r.value){
          localStorage.clear()
          this.$router.push('/')
        }
      }) 
    }
  },
  computed: {

  },
  mounted(){
    this.getListCount()
  },
  created() {
    this.username = localStorage.getItem('username')
  },
  beforeCreate(){
    const token  = localStorage.getItem('token')
    if (token == null || token == undefined || token == ''){
      localStorage.clear()
      this.$router.push('/')
    }
  },
}
</script>

