<template>
   <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-alert type="error" v-if="errors.length > 0" transition="scale-transition" dismissible>
              <p class="mb-0" v-for="(error, index) in errors" :key="index"> {{error}} </p>
            </v-alert>
            <v-card class="elevation-12">
              <v-toolbar color="warning" dark flat>
                <v-toolbar-title>Registro</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field v-model="nombre" color="warning" label="Nombre" type="text" @keyup.enter="signup"/>
                  <v-text-field v-model="user" color="warning" label="Email" type="email" @keyup.enter="signup"/>
                  <v-text-field v-model="celular" color="warning" label="Celular" type="text" @keyup.enter="signup"/>
                  <v-text-field v-model="pass" color="warning" label="Password" type="password" @keyup.enter="signup"/>
                </v-form>
              </v-card-text>
              <v-card-actions>
                  <v-layout justify-center>
                    <v-progress-circular indeterminate color="amber" v-if="loading"/>
                    <v-btn color="warning" @click="signup" v-if="!loading"> Ingresar</v-btn>
                  </v-layout>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
</template>

<script>
// @ is an alias to /src
import axios from 'axios';
import { mapState } from 'vuex';

export default {
  name: 'SignUp',
  data () {
    return { 
      nombre:'',
      user:'',
      celular:'',
      pass: '',
      errors: [],
      loading: false
    }
  },
  methods: {
    async signup() {
      this.loading = true
      //verificamos si el formulario es valido
      if (this.chechkForm()){
        this.clearError()
        const send = this.getDataToSend() 
        await axios.post(`${process.env.VUE_APP_API_URL}/api/user/create`, send, { headers: this.headersLogin }).then( res => {
          this.$swal({ icon:'success', text:'Creado exisotamente.', allowOutsideClick:false, allowEscapeKey:false }).then( r => {
              this.$router.push('/')
          })
        }).catch( error => {
          let msg = error.response.status == 400 ? error.response.data.message : 'Ocurrió un error al iniciar sesión'
          this.loading = false
          this.errors.push(msg)
        })
      }
      else{
        this.loading = false
      }
    },
    
    chechkForm(){
      this.clearError()
      if (!this.nombre){
        this.errors.push('Ingrese nombre')
      }
      else if (!this.user){
        this.errors.push('Ingrese correo electrónico')
      }
      else if (!this.celular){
        this.errors.push('Ingrese celular')
      }
      else if (!this.pass){
        this.errors.push('Ingrese contraseña')
      }
      return this.user && this.pass && this.nombre && this.celular
    },
    
    clearError(){
      this.errors = []
    },
    
    getDataToSend(){
      return { email: this.user, password: this.pass, nombre: this.nombre, celular: this.celular  }
    },
  },
  computed: {
    ...mapState(['headersLogin'])
  },
  beforeCreate(){
    const token  = localStorage.getItem('token')
    console.log(token)
    if (token != null && token != undefined){
      this.$router.push('/panel')
    }
  },
}
</script>